title: Roots and branches
description: A family database with visualisations

baseurl: "/roots-and-branches"

theme: null

collections:
  people:
    output: true

markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter_opts:
    disable: true