<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title | default: "Tree" }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="/assets/js/mermaid-fix.js"></script>

  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
<!--  <header>
    <h1>{{ page.title | default: "Tree" }}</h1>
  </header>-->

  <main>
    {{ content }}
  </main>

  <script src="{{ '/assets/js/tree.js' | relative_url }}"></script>
</body>
</html>
